
singularity {

    enabled                     = true

    envWhitelist                = "APPS,UUFSCELL,DATA,USCRATCH,REPOSITORY,PROCESSING,ANALYSIS,SLURM_CPUS_ON_NODE,SLURM_JOB_ID,USER"

    autoMounts                  = true

    runOptions                  = '-B "$TMPDIR"'

}

profiles {

    standard {
        
    }

    no_ctrls {
        
    }

    with_ctrls {
        
    }
    
}

process {

    withLabel: local {

        executor                = 'local'

        container               = ''

    }

    withLabel: contained {

        executor                = 'slurm'

        clusterOptions          = '-A ucgd-rw --partition ucgd-rw -N 1'

        errorStrategy           = 'retry'
        
        maxRetries              = 1

        container               = "file:///uufs/chpc.utah.edu/common/HIPAA/u1084359/work_dir/singularity_images/atacseq/atacseq.sif"

    }

}

params {
    
    // Main resources paths/variables
    sample_reads_list_path      = "/path/to/sample/reads/list"
    control_reads_list_path     = "/path/to/control/reads/list"
    genome_fasta_path           = "/path/to/genome/fasta"
    genome_annotation_path      = "/path/to/genome/annotation"
    bwa_index_dir_path          = '/path/to/bwa/index/dir'
    bwa_index_prefix            = 'stub' // Needed if bwa_index_dir_path is specified
    mitochondrial_chr_name      = 'MT'

    // Main output directories
    main_results_dir            = "analysis"
    reports_dir                 = "0_reports"
    fastqc_subdir               = "fastqc"
    trimming_subdir             = "trimming"
    alignment_subdir            = "alignment"
    deduplication_subdir        = 'deduplication'
    macs2_subdir                = 'macs2'
    counts_subdir               = 'counts'
    bam_dir                     = '1_bams'
    bed_dir                     = '2_bed'
    macs2_dir                   = '3_peaks'
    consensus_dir               = 'peaks_consensus'
    counts_dir                  = '4_counts'

    // Parameters for TrimGalore as a single line of text
    // Common parameters:
    // --adapter                = Adapter sequence
    // --length                 = Discard reads that became shorter than specified bp after trimming
    // --max_length             = Discard reads that are longer than specified bp after trimming (only for single-end reads)
    // --stringency             = Overlap in bp with adapter sequence required to trim a sequence
    // --clip_R1                = Remove bp from the 5' end of read 1 (or single-end reads)
    // --clip_R2                = Remove bp from the 5' end of read 2 (paired-end reads only)
    // --three_prime_clip_R1    = Remove bp from the 3' end of read 1 (or single-end reads) AFTER adapter/quality trimming has been performed
    // --three_prime_clip_R2    = Remove bp from the 3' end of read 2 (paired-end reads only) AFTER adapter/quality trimming has been performed
    trimgalore_params           = ""

    // MACS3 genome size
    // genome_size shortcuts: 'hs' = human (2.7e9), 'mm' = mouse (1.87e9), 'ce' = C. elegans (9e7), 'dm' = fruitfly
    genome_size                 = 'hs'

    // MACS3 and Homer options to be specified as strings
    macs3_options               = '--bdg --broad --nomodel -f BAMPE' // e.g. "--qvalue 0.05 --seed 42"
    homer_options               = ''

    // featureCounts strandedness
    // Possible values: 0 = unstranded, 1 = stranded, 2 = reversestrand
    strandedness                = '0'

}